@using TMS.Areas.Identity.Data

@inject SignInManager<PlatformUser> SignInManager
@inject UserManager<PlatformUser> UserManager

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">

    </li>
    @if (User.IsInRole("Student"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Theses/Index">All Thesis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Theses/Own">My Thesis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Notifications/Index">Notifications</a>
        </li>
    }
    @if (User.IsInRole("Teacher"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Theses/Index">Thesis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Requests/Index">Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Notifications/Index">Notifications</a>
        </li>
    }
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Index">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Notifications/Index">Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Theses/Index">Thesis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Faculties/Index">Faculties</a>
        </li>
    }
</ul>

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
