@page
@using TMS.Areas.Identity.Data
@inject UserManager<PlatformUser> UserManager
@model TMS.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "User Details";
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Roles</label>
            @foreach (var role in Model.UserRoles)
            {
                <span class="badge badge-pill badge-primary">@role</span>
            }
        </div>
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Input.Name"></label>
            <input asp-for="Input.Name" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Input.DOB"></label>
            <input asp-for="Input.DOB" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Input.PhoneNumber"></label>
            <input asp-for="Input.PhoneNumber" class="form-control" disabled />
        </div>
        @if (await UserManager.IsInRoleAsync(await UserManager.FindByIdAsync(Model.UserID.ToString()), "Student"))
        {
            <h3>Student Information</h3>
            <div>
                <label>Faculty</label>
                <input disabled value="@Model.StudentData.Faculty" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
